<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESB Demo page</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--Мы живем за великой стеной-->
    <link href="asserts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="asserts/jquery-3.3.1.min.js"></script>
    <script src="asserts/bootstrap/js/bootstrap.min.js"></script>
    <script src="asserts/angular.min.js"></script>


    <script type="text/javascript">
        var app = angular.module("DMZ_App", []);
        app.controller("DMZController", function ($scope, $http) {

            _initPage();
            $scope.startDate = new Date();
            $scope.endDate = new Date();
            $scope.st = new Date();
            $scope.bdaytime = new Date();

            $scope.getRequest = function () {
                $http({
                    method: 'GET',
                    url: 'http://localhost:8090/scout/api/units/availableIds',
                }).then(function successCallback(response) {
                    // $scope.correlationId = response.data.correlationId;
                    // $scope.requestTextMessage = response.data.textMessage;
                    $scope.Ids = response.data;
                }, function errorCallback(response) {
                    console.log('Error');
                });
            };

            // YYYY/mm/dd HH:MM:SS
            $scope.getFuel = function (id, startDate, endDate) {

                console.log('Start: ' + bdaytime.value);
                console.log('IN: ' + startDate);
                console.log('MODIFIED: ' + startDate);
                console.log('MODIFIED: ' + startDate.toString());

                var dateControl = document.getElementById('dateFrom');
                console.log('OUT: ' + dateControl);
                console.log('OUT2: ' + dateControl.value);

                $http({
                    method: 'GET',
                    url: 'http://localhost:8090/scout/statistics/fuel?' +
                        'request.unitId=' + id +
                        '&request.unitId=' + startDate +
                        '&request.unitId=' + endDate.toString(),
                }).then(function successCallback(response) {
                    $scope.correlationId = response.data.correlationId;
                    $scope.responseTextMessage = response.data.messageText;
                }, function errorCallback(response) {
                    console.log('Error');
                });
            };

            function _initPage() {
                $http({
                    method: 'GET',
                    url: 'http://localhost:8090/scout/api/units/availableIds',
                }).then(function successCallback(response) {
                    $scope.Ids = response.data;
                }, function errorCallback(response) {
                    console.log('Error');
                });
            };


        });
    </script>
</head>

<body ng-app="DMZ_App" ng-controller="DMZController">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ESB demo</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Скаут<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Личный кабинет</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<p>Запрос:</p>


<div align="left" class="sample">
    <p6>Id объекта мониторинга</p6>
    <select ng-init="selected='Ничего не выбрано'"
            ng-model="selected"
            ng-options="opt as opt for opt in Ids"></select>
    <h3>Выбран : {{selected}}</h3>


    <form class="form-inline">
        <div class="form-group form-inline">
            <label class="control-label col-sm-3 col-lg-3" for="dateFrom">Период от</label>
            <div class="col-sm-9">
                <input ng-value="startDate"
                       name="bdaytime"
                       ng-model="st"
                       class="form-control"
                       id="dateFrom"
                       placeholder="Введите дату"
                       type="datetime-local">
            </div>
        </div>

        <div class="form-group form-inline">
            <label class="control-label col-sm-3 col-lg-3" for="dateTo">Период по</label>
            <div class="col-sm-9">
                <input ng-value="endDate"
                       class="form-control"
                       id="dateTo"
                       placeholder="Введите дату"
                       type="datetime-local">
            </div>
        </div>


    </form>


    <button class="btn btn-outline-success my-2 my-sm-0"
            ng-click="getFuel(selected, startDate, endDate)"
    >Получить
    </button>
</div>


<!--<h1>SWAGGER</h1>-->


<!--<iframe class=".container" src="http://localhost:8090/webjars/swagger-ui/index.html?url=http://localhost:8090/scout/api-doc"></iframe>-->


</body>
</html>